<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=devicewidth, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<title>正在跳转H5页面</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../ad/ad.css">
	<script  type="text/javascript" src="../../assets/js/lib/flexible.js"></script>
</head>

<body>

    <div id="app" class="container">
      
      <div class="content" style="padding-top:0.26rem;">
		  
		  <p>正在跳转H5页面。。。</p>
      </div>

    </div>
    <script type="text/javascript" src="../../assets/js/require.js"></script>
    <script src="../../assets/js/config.js"></script>
    <script src="./ad.js"></script>

</body>
</html>