<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=devicewidth, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<title>专家详情</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="./expertsreply.css">
	<script  type="text/javascript" src="../../assets/js/lib/flexible.js"></script>
</head>


<body>

    <div id="app" class="container">
      <div class="expertsHead">
          <div class="head">
           <img src="../../assets/images/advice/advice.jpg">
          </div>
          <p class="doctor">
              美至简医生
          </p>
          <p class="hospital">中山大学附属医院</p>
          <p class="department">营养科</p>
          <div class="technology"><span>咨询量大</span><span>回复快</span><span>专业性强</span></div>
      </div>

      <div class="content">
          <div class="clum">
              <h4>专业擅长</h4>
              <p>
                    专业瘦身，健康减肥，养生，专业瘦身，健康减肥，养生，专业瘦身，健康减肥，养生，专业瘦身，健康减肥，养生，专业瘦身，健康减肥，养生，
              </p>
          </div>
          <div class="clum">
                <h4>执业经历</h4>
                <p>
                        专家简介，姓名，性别 年龄等等 专家简介，姓名，性别 年龄等等 专家简介，姓名，性别 年龄等等 专家简介，姓名，性别 年龄等等 专家简介，姓名，性别 年龄等等 专家简介，姓名，性别 年龄等等
                </p>
            </div>
            <div class="clum">
                    <h4>工作地点</h4>
                    <p>
                        广州中山大学附属第一医院 健康门诊
                    </p>
                </div>
                <div class="message">
                        <p><span class="theme">留言咨询</span><span class="time24">24小时内回复留言</span></p>
                    </div>
            <div class="feedbackInfor">
                  <ul>
                      <li class="me">
                          <span class="meSpan">我:</span>
                          <p>
                                医生你好我感冒了感冒了感冒了感冒了感冒了感冒了感冒了感冒了感冒了感冒了
                          </p>
                          <p class="hours"><span>1小时前</span></p>
                      </li>
                      <li class="professor">
                            <span class="meSpan">张教授:</span>
                            <p>
                                  医生你好我感冒了感冒了感冒了感冒了感冒了感冒了感冒了感冒了感冒了感冒了
                            </p>
                            <p class="hours"><span>1小时前</span></p>
                        </li>
                  </ul>
            </div>
      </div>



      <div class="feedback">
          <input type="text"  class="feedbackInput" placeholder="请输入您的内容"> <span class="feedbackBtn">提交</span>
      </div>
    </div>
    <script type="text/javascript" src="../../assets/js/require.js"></script>
    <script src="../../assets/js/config.js"></script>
    <script src="./expertsreply.js"></script>
</body>
</html>