<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=devicewidth, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta charset='utf-8'/>
    <title>我的美图</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../component/component.css">

    <link rel="stylesheet" type="text/css" href="./audit.css">
    <script type="text/javascript" src="../../assets/js/lib/flexible.js"></script>
    <script>
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '209e8abccbe388d607aab53c296222c6']);
    </script>
</head>

<body>
    <div id="app" class="container" v-cloak>
      <div class="audit-box">
        <div class="icon">
          <img src="../../assets/images/show/progress.png" alt="" class="progress">
          <img src="../../assets/images/show/fail.png" alt="" class="fail">
        </div>
        <div class="text">
          <p class="progress">发布成功，正在审核中，请耐心等候~</p>
          <p class="fail">审核失败</p>
        </div>

        <div class="btn btn1" @click='back'>返回列表</div>

      </div>

      <footer-bar :index="0"></footer-bar>

    </div>
    <script type="text/javascript" src="../../assets/js/require.js"></script>
    <script src="../../assets/js/config.js"></script>
    <script src="./audit.js"></script>
</body>

</html>