<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=devicewidth, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta charset='utf-8'/>
    <title>修改信息</title>

    <link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../component/component.css">

    <link rel="stylesheet" type="text/css" href="../../assets/css/iosselect.css">

    <link rel="stylesheet" type="text/css" href="./edit.css">
    <script type="text/javascript" src="../../assets/js/lib/flexible.js"></script>
    <script>
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '209e8abccbe388d607aab53c296222c6']);
    </script>
</head>

<body>
    <div id="app" class="container" v-cloak>
        <div class="feedback-box">
            <img src="../../assets/images/common/logo_new.png" alt="">
            <div class="form" :class='{hidden: !loaded}'>
                <div class="nickname text" v-if='type == "nickname"'>
                    <label for="abc">昵称</label>
                    <input type="text" placeholder="请输入您的昵称" :value='value' ref='nickname'>
                </div>
                <div class="height text" v-if='type == "height"' @click='showHeight' >
                    <label for="">身高</label>
                    <input type="text" placeholder="请输入您的身高" readonly ref='height' :value='value'>
                </div>
                <div class="birth text" v-if='type == "birth"' @click='showAge' >
                    <label for="">出生日期</label>
                    <input type="text" placeholder="请输入您的出生日期" readonly ref='birth' :value='value'>
                </div>
                <div class="sex text" v-if='type == "sex"' @click='showSex' >
                    <label for="">性别</label>
                    <input type="text" placeholder="请输入您的性别" readonly ref='sex' :value='value'>
                </div>
            </div>
            <div class="btn btn1" @click='updateProfile'>提交</div>
        </div>
        <footer-bar :index="0"></footer-bar>
    </div>
    <script type="text/javascript" src="../../assets/js/require.js"></script>
    <script src="../../assets/js/config.js"></script>
    <script src="./edit.js"></script>
</body>

</html>