<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=devicewidth, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<title>公告</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css?v=10.0">
	<link rel="stylesheet" type="text/css" href="../../component/component.css?v=10.0">
	<link rel="stylesheet" type="text/css" href="./message.css?v=10.0">
	<script  type="text/javascript" src="../../assets/js/lib/flexible.js?v=10.0" async></script>
</head>

<body>

    <div id="app" class="container"  v-cloak>

		<div class="AnnounInner">
				<h3>{{detailInfo.title}}</h3>
				<p class="time">{{updatetime}}</p>
				<p class="messageinfo">{{detailInfo.messageinfo}}</p>
		</div>

      
          
     
    </div>
    <script type="text/javascript" src="../../assets/js/require.js?v=10.0"></script>
    <script src="../../assets/js/config.js?v=10.0"></script>
    <script src="./systemAnnounInner.js?v=10.0"></script>

</body>
</html>