<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta charset='utf-8'/>
    <title>目标管理</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../assets/js/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="../../assets/js/lib/bootstrap-datetimepicker/bootstrap-datetimepicker-standalone.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/swiper-3.4.2.min.css?v=v11.1.0">
        <link rel="stylesheet" type="text/css" href="../../assets/css/iosselect.css?v=v11.1.0">


    <link rel="stylesheet" type="text/css" href="../../component/component.css">

    <link rel="stylesheet" type="text/css" href="./goal.css">
    <script type="text/javascript" src="../../assets/js/lib/flexible.js"></script>
    

    <script>
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '209e8abccbe388d607aab53c296222c6']);
    </script>
</head>

<body>
    <div id="app" class="container" v-cloak>

    <div class="modal goal" v-show="showGoalModal&&cur!='report'">
        <div class="dialog">
            <div class="title">{{hasGoal? '修改':'制定'}}目标</div>
            <div class="d1">
                <div class="d11">没有目标的人, 注定是不会成功的!</div>
                <div class="d12" :class='{hasWeight: selectedWeight}'>
                    <div class="e1">
                        <span class="s1">目标体重</span>
                        <span class="s2" @click='showWeight'>
                            <span class="val" v-show='selectedWeight'>{{selectedWeight}}</span><span class="s3" v-show='selectedWeight'>斤</span>
                            <span class="s4" v-show='!selectedWeight'>设置目标</span>
                        </span>
                    </div>
                    <div class="e1">
                        <span class="s1">目标周期</span>
                        <span class="s2" @click='showStage'>
                            <span class="val">{{selectedDays}}</span>天
                        </span>
                    </div>
                </div>
                <div class="d13" v-show='showTip'>* 减重过快有损健康, 请重新设定目标</div>
            </div>
            <div class="d2" v-show='toThin || toFat'>
                <div class="e1" v-show='toFat'>请选择你的肥胖类型: </div>
                <div class="list" v-show='toThin'>
                    <div class="row">
                        <span code='3' @click="hmt('完善目标','增肌')">增肌</span>
                        <span code='2' @click="hmt('完善目标','塑形')">塑形</span>
                    </div>
                </div>
                <div class="list" v-show='toFat'>
                    <div class="row">
                        <span class='active' code='5' @click="hmt('完善目标','单纯性肥胖')">单纯性肥胖</span>
                        <span code='4' @click="hmt('完善目标','遗传性肥胖')">遗传性肥胖</span>
                    </div>
                    <div class="row">
                        <span code='6' @click="hmt('完善目标','腹部性肥胖')">腹部性肥胖</span>
                        <span code='7' @click="hmt('完善目标','虚胖性肥胖')">虚胖性肥胖</span>
                    </div>
                    <div class="row">
                        <span code='8' @click="hmt('完善目标','水肿性肥胖')">水肿性肥胖</span>
                        <span code='9' @click="hmt('完善目标','产后性肥胖')">产后性肥胖</span>
                    </div>
                </div>
            </div>

            <div class="btn-ok" @click='confirmGoal'>确定</div>
        </div>

         <!-- <div class="close" @click='closeModal'></div> -->
    </div>

    <page-load :loadstage="!goalLoaded"></page-load>
        <div class="goal" v-show='goalLoaded' >
          

            <div class="bg1"></div>
            <div class="info">
              <div class="canvas">
                <div class="bg"></div>
                <canvas ref='c2'  class='c2'></canvas>
                <canvas ref='c1' class='c1'></canvas>
                <span class="circle"></span>
                <div class="a1">
                  <div class="b1">已{{isAddWeight ? '增加':'减去'}}</div>
                  <div class="b2">{{cavansWeight | number}}斤</div>
                  <div class="b3">目标完成<span class="c1">{{weightProgress.toFixed(1)}}%</span> </div>
                </div>
              </div>

              <div class="a2">
                <span class="b1">
                  <span class="c1">{{manageData.currentWeight | number}}斤</span>
                  <span class="c2">当前体重</span>
                </span>
                <span class="b1">
                  <span class="c1">{{manageData.vo.currentWeight | number}}斤</span>
                  <span class="c2">初始体重</span>
                </span>
                <span class="b1 edit" @click='showGoalModalClick'>
                  <span class="c1">{{manageData.vo.targetWeight | number(0)}}斤
                  <span class="btn-edit"></span>
                  </span>
                  <span class="c2">目标体重</span>
                </span>
              </div>

              <div class="a3">
                <span class="b1">目标周期</span>
                <span class="b2">
                  <span class="c1">{{1}}天</span>
                  <span class="c3">
                    <span class="d1" :style='{width: progress2 + "%"}'></span>
                    <span class="d2" >{{progress || 0}}%</span>
                  </span>
                  <span class="c2">{{manageData.vo.days}}天</span>
                </span>
              </div>
            </div>

            <!--最近体重曲线-->
            
            <div id="weight-curve">
               <p class="weight-header">健康指标{{test}}</p>
               <span class="more" @click='toHistory'>更多</span>

               
               <div class="echarts" id="JS-echars">
               </div>
                    <div class="alpha"></div>
            </div>

            <div class="homeAd opacity  swiper-container" v-if="adImgeData1.length" id="swiper-container4" v-cloak>
               <ul  class="swiper-wrapper">
                   <li class="swiper-slide" v-for="(v,index) in adImgeData1"  @click="getAdCount(v.id,v.spaceId,'轮播广告一'+index,1,'目标管理广告')">
                      <a :href="v.adLink">
                            <img :src="v.path">
                      </a>
                   </li>
               </ul>
               <div class="swiper-pagination"></div>
            </div> 

            <div class="like-list" v-show='articalList.length'>
                <div class="title">
                    <span class="s1">猜你喜欢</span>
                    <span class="more" @click='toKnowledge'>更多</span>
                </div>

                <div class="list">
                    <div class="item" v-for='item in articalList'@click='toArtical(item.id)'>
                        <img :src="item.picRealPath" alt="">
                        <div class="d1">
                            <div class="title">{{item.title}}</div>
                            <div class="d11">
                                <!-- <span class="tag">文章标签</span> -->
                                <span class="date">{{item.publishTime | formatDate}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <spin :isloading='true' :onscroll='onArticalScroll' :prevent='preventArtical' :delay=100 :istall='articalList.length > 5'></spin>
            </div>
        </div>

        <footer-bar :index="0"></footer-bar>
    </div>
    <script type="text/javascript" src="../../assets/js/require.js"></script>
    <script src="../../assets/js/config.js"></script>
    <script src="./goal.js"></script>
</body>

</html>