<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=devicewidth, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<title>授权</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css?v11.1.0">
    <link rel="stylesheet" type="text/css" href="../../component/component.css?v11.1.0">
	<link rel="stylesheet" type="text/css" href="./authorize.css?v11.1.0">
	<script  type="text/javascript" src="../../assets/js/lib/flexible.js?v11.1.0" async></script>
</head>

<body>

    <div id="app" class="container">
        
       <div class="header">
         <div class="authorizeGif">
             <img src="../../assets/images/standby/authorize.png" alt="gif">
         </div>
       </div>

       <div class="authorizeTitle">OH~你还没有授权，什么都看不到哦</div>


       <div class="authorizeBtn">重新去授权</div>


       <div class="footerTitle">吐槽专线：400-8782-181</div>


    </div>
    <script type="text/javascript" src="../../assets/js/require.js?v11.1.0"></script>
    <script src="../../assets/js/config.js?v11.1.0"></script>
    <script src="./authorize.js?v11.1.0"></script>

</body>
</html>