[v-cloak] {
  display: none !important; }

.footerTitle {
  width: 100%;
  height: 0.4rem;
  color: #8e8e93;
  font-size: 0.32rem;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 3%;
  z-index: 5; }

#btn {
  width: 100%;
  height: 1.06667rem;
  position: relative;
  display: none; }
  #btn .animal {
    position: absolute;
    top: -2.13333rem;
    right: 16%;
    z-index: 3;
    width: 2.02667rem;
    height: 2.66667rem; }
    #btn .animal img {
      width: 2.02667rem;
      height: 2.66667rem; }
  #btn .authorizeBtn {
    width: 4.74667rem;
    height: 0.88rem;
    line-height: 0.88rem;
    text-align: center;
    color: #f9860b;
    font-size: 0.42667rem;
    margin: 0 auto;
    border: 0.02667rem solid #f9860b;
    border-radius: 0.06667rem; }

#instrument {
  width: 100%;
  height: 6.37333rem;
  position: relative;
  margin-bottom: 1.73333rem;
  margin-top: 0.8rem; }
  #instrument .judgment {
    position: absolute;
    width: 6.4rem;
    height: 5.42667rem;
    background-image: url(../../assets/images/home/ctxbg.png);
    background-repeat: no-repeat;
    background-size: 6.4rem 5.42667rem;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 2;
    display: none; }
  #instrument .ctxActive {
    width: 100%;
    height: 2.72rem;
    position: absolute;
    left: 0;
    top: 1.54667rem;
    z-index: 6; }
    #instrument .ctxActive .centerBox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      #instrument .ctxActive .centerBox .currentWeight {
        text-align: center;
        margin-bottom: 0.08rem; }
        #instrument .ctxActive .centerBox .currentWeight p {
          color: #f9860b;
          font-size: 1.46667rem;
          height: 1.6rem; }
          #instrument .ctxActive .centerBox .currentWeight p span {
            font-size: 0.45333rem; }
        #instrument .ctxActive .centerBox .currentWeight span.currentWeightSpan {
          font-size: 0.4rem;
          color: #8e8e93; }
      #instrument .ctxActive .centerBox .prvWeight {
        height: 0.42667rem;
        line-height: 0.42667rem;
        font-size: 0.4rem;
        color: #8e8e93;
        margin-bottom: 0.13333rem; }
      #instrument .ctxActive .centerBox .difference {
        color: #8e8e93;
        font-size: 0.4rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        #instrument .ctxActive .centerBox .difference .icon {
          width: 0.26667rem;
          height: 0.32rem;
          margin-right: 0.06667rem; }
        #instrument .ctxActive .centerBox .difference .down {
          background-image: url(../../assets/images/home/down.png);
          background-size: 0.26667rem 0.32rem;
          background-repeat: no-repeat; }
        #instrument .ctxActive .centerBox .difference .up {
          background-image: url(../../assets/images/home/down.png);
          background-size: 0.26667rem 0.32rem;
          background-repeat: no-repeat;
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg); }
  #instrument #myCanvas, #instrument #myCanvas2 {
    position: absolute;
    width: 6.4rem;
    height: 6.4rem;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 4; }
  #instrument #myCanvas2 {
    z-index: 3; }
