<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=devicewidth, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<title>专家咨询</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="./advice.css">
	<script  type="text/javascript" src="../../assets/js/lib/flexible.js"></script>
</head>

<body>

        <div id="app" class="container">
           <div class="adviceBox">
                <div class="experts">
                   <img src="../../assets/images/advice/advice.jpg">
                </div>
                <div class="expertsInfor">
                    <div class="expertsInforH">
                        <span class="company">美至简</span>
                        <span class="expertsInforBtn">咨询</span>
                    </div>
                    <div class="physician">
                        <p>主任医师</p>
                        <p>中山大学附属第三医院 营养科</p>
                    </div>

                    <div class="hobby">
                       <p><span>擅长:</span>专业瘦身，健康减肥，养生，专业瘦身，健康减肥，养生，专业瘦身，专业瘦身，健康减肥，养生，</p> 
                    </div>
                </div>
           </div>

            <div class="line"></div>

           <div class="adviceBox">
                <div class="experts">
                   <img src="../../assets/images/advice/advice.jpg">
                </div>
                <div class="expertsInfor">
                    <div class="expertsInforH">
                        <span class="company">美至简</span>
                        <span class="expertsInforBtn">咨询</span>
                    </div>
                    <div class="physician">
                        <p>主任医师</p>
                        <p>中山大学附属第三医院 营养科</p>
                    </div>

                    <div class="hobby">
                       <p><span>擅长:</span>专业瘦身，健康减肥，养生，专业瘦身，健康减肥，养生，专业瘦身，专业瘦身，健康减肥，养生，</p> 
                    </div>
                </div>
           </div>

        </div>

        <script type="text/javascript" src="../../assets/js/require.js?"></script>
        <script src="../../assets/js/config.js"></script>
        <script src="./advice.js"></script>
</body>
</html>