<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=devicewidth, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<title>运动建议</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css?v=10.0">
    <link rel="stylesheet" type="text/css" href="../../component/component.css?v=10.0">
	<link rel="stylesheet" type="text/css" href="./sport.css?v=10.0">
	<script  type="text/javascript" src="../../assets/js/lib/flexible.js?v=10.0"></script>
</head>

<body>

        <div id="app" class="container" >
           <page-load :loadstage="!pageLoad"></page-load>

           <div v-cloak v-show="pageLoad">
            <div class="foodAd">
                    <img src="../../assets/images/health/sportsuggest.png">
            </div>

            <div class="content">
                    <div class="foodClum">
                            <div class="foodTextHead">
                                <span></span><p>运动类型</p>
                            </div>
                             <p class="clumT">{{text1}}</p>
                   </div>
                   <div class="foodClum">
                        <div class="foodTextHead">
                            <span></span><p>运动时间</p>
                        </div>
                         <p class="clumT">{{text2}}</p>
               </div>
            </div>
        </div>
        </div>
     


    <script type="text/javascript" src="../../assets/js/require.js?v=10.0"></script>
    <script src="../../assets/js/config.js?v=10.0"></script>
    <script src="./sport.js?v=10.0"></script>
</body>
</html>