<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=devicewidth, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta charset='utf-8'/>

	<title>美至简体重秤</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="./code.css">	
	<script  type="text/javascript" src="../../assets/js/lib/flexible.js"></script>

</head>

<body id="code">

    <div id="app" class="containerCode" v-cloak>
        
      <img :src="imgUrl">
     </div>




    <script type="text/javascript" src="../../assets/js/require.js"></script>
    <script src="../../assets/js/config.js"></script>
    <script src="./code.js"></script>
</body>
</html>