@import "../../assets/sass/base/function/_pxTorem.scss";//引入sass mixin function等
@import "../../component/Spin/_index.scss";//底部导航样式

.noData{
  display: none;
  font-size: _(30);
  padding-top: _(30);
  text-align: center;
}

.over{
    display: none;
    height: _(80);
    line-height: _(80);
    font-size: _(26);
    text-align: center;
    color: #999999;
}
.opacity{
    -webkit-animation: opacity 0.3s linear;
    animation: opacity 0.3s linear;
}
@-webkit-keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.recomm{

    li{
        padding-top: _(20);
        padding-bottom: _(20);
       // @include borderBottomAfter($color: #f2f2f2,$dpr:2);
            display: flex;
            .clumLeft{
                width: _(200);
                height: _(160);
                img{
                    width: _(200);
                    height: _(160);
                }
            }
            .clumR{
                 margin-left: _(20);
                 position: relative;
                 p:nth-child(1){
                     color: #333333;
                     font-size: _(26);
                 }
                 .time{
                     width: _(150);
                     color: #999999;
                     position: absolute;
                     bottom: 0;
                     left: 0;
                     font-size: _(24);
                 }
            }

    }
}
