<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=devicewidth, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta charset='utf-8'/>
    <title>实验室</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../component/component.css">
    <link rel="stylesheet" type="text/css" href="./detail.css">
    <script type="text/javascript" src="../../assets/js/lib/flexible.js"></script>
</head>

<body>
    <div id="app" class="container" v-cloak>
        <div class="detail-box">
            <img :src="data.picPath" alt="">
            <div class="text-1">{{data.evaTitl}}</div>
            <div class="rate-box">
                <span class="a">健康
                    <img src="../../assets/images/common/star.png" alt="" v-for='i in data.healLevel'>
                </span>
                <span class="a">效果
                    <img src="../../assets/images/common/star.png" alt=""  v-for='i in data.effect'>
                </span>
                <span class="a">执行难易
                    <img src="../../assets/images/common/star.png" alt=""  v-for='i in data.impLevel'>
                </span>
            </div>

            <div class="content" v-html='data.details'>
            </div>
           <!--  <div class="box-1">
                <div class="title-1">方法简介</div>
                <div class="content-1">
                    虽然食物种类有所限制，但是结构相对合理，基本上能满足人体各类营养素需求，是一种较为平衡的减肥方式。
                </div>
            </div>
            <div class="box-1">
                <div class="title-1">理论支撑</div>
                <div class="content-1">
                    虽然食物种类有所限制，但是结构相对合理，基本上能满足人体各类营养素需求，是一种较为平衡的减肥方式。
                </div>
            </div>
            <div class="box-1">
                <div class="title-1">饮食计划1</div>
                <div class="content-1">
                    虽然食物种类有所限制，但是结构相对合理，基本上能满足人体各类营养素需求，是一种较为平衡的减肥方式。
                </div>
            </div>
            <div class="box-1">
                <div class="title-2">优点</div>
                <div class="content-1">
                    虽然食物种类有所限制，但是结构相对合理，
                </div>
            </div>
            <div class="box-1">
                <div class="title-2">缺点</div>
                <div class="content-1">
                    虽然食物种类有所限制，但是结构相对合理，
                </div>
            </div>
            <div class="box-1">
                <div class="title-2">激进程度</div>
                <div class="content-1">
                    虽然食物种类有所限制，但是结构相对合理，
                </div>
            </div> -->
        </div>
        <footer-bar :index="0"></footer-bar>
    </div>
    <script type="text/javascript" src="../../assets/js/require.js"></script>
    <script src="../../assets/js/config.js"></script>
    <script src="./detail.js"></script>
</body>

</html>