html, body, .container {
  background-color: #f8f8f8;
  max-width: 960px;
  height: 100%;
  margin: 0 auto; }

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "SimHei", sans-serif;
  overflow-x: hidden;
  font-size: 14px !important; }

ul, li {
  list-style: none; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden; }

*, :after, :before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

input[type="tel"], input[type="text"], input[type="password"], textarea {
  -webkit-appearance: none;
  border-radius: 0; }

[v-cloak] {
  display: none; }

body {
  font-weight: 300; }

.ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal; }

.ellipsisLn2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  word-break: break-all; }

.ellipsisLn3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-wrap: break-word;
  word-break: break-all; }

.freeLine {
  word-wrap: break-word;
  word-break: break-all; }

.bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1.2rem;
  overflow: hidden;
  z-index: 10;
  background-color: #222; }
  .bar + .content {
    padding-bottom: 1.2rem; }

.content {
  min-height: 100%;
  overflow: hidden; }

.background--blue {
  background-color: #1d2232; }

.background--black {
  background-color: #19181e; }

.background--white {
  background-color: white; }

.background--grey {
  background-color: #f1f1f1; }

.fs24 {
  font-size: 0.32rem; }

.fs26 {
  font-size: 0.34667rem; }

.fs28 {
  font-size: 0.37333rem; }

.fs30 {
  font-size: 0.4rem; }

.fs36 {
  font-size: 0.48rem; }

.fs38 {
  font-size: 0.50667rem; }

.individual-content {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/1/indexBg.png);
  background-position-y: top;
  background-size: 100% 17.30667rem;
  background-repeat: no-repeat;
  background-color: #212123;
  text-align: center; }
  .individual-content .add-btn {
    width: 5.33333rem;
    height: 1.06667rem;
    line-height: 1.06667rem;
    text-align: center;
    font-size: 0.46667rem;
    color: #ffffff;
    background-color: #ff9500;
    margin: 0 auto;
    border-radius: 0.66667rem;
    margin-top: 1.86667rem;
    display: none;
    border: 0; }
  .individual-content ul {
    padding-left: 0.4rem; }
    .individual-content ul li.head-portrait {
      height: 2.13333rem; }
      .individual-content ul li.head-portrait .head-portrait-img {
        width: 1.6rem;
        height: 1.6rem;
        margin-right: 0.4rem; }
        .individual-content ul li.head-portrait .head-portrait-img img {
          width: 1.6rem;
          height: 1.6rem;
          border-radius: 0.13333rem; }
    .individual-content ul li {
      width: 100%;
      height: 1.46667rem;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .individual-content ul li:after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #3a3b3d;
        color: #3a3b3d;
        -webkit-transform-origin: 0 100%;
                transform-origin: 0 100%;
        -webkit-transform: scaleY(0.5);
                transform: scaleY(0.5); }
      .individual-content ul li span {
        color: #8e8e93;
        font-size: 0.37333rem; }
      .individual-content ul li .li-right-box {
        font-size: 0.37333rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 0.4rem; }
        .individual-content ul li .li-right-box img {
          width: 0.46667rem;
          height: 0.62667rem; }
        .individual-content ul li .li-right-box input {
          background: none;
          border: none;
          color: #ffffff;
          width: 1.49333rem;
          text-align: right;
          font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "SimHei", sans-serif; }
        .individual-content ul li .li-right-box .individual-name-span {
          color: #ffffff;
          display: block; }
        .individual-content ul li .li-right-box input#nicknameInput {
          width: 2.66667rem;
          height: 0.46667rem;
          line-height: 0.46667rem;
          color: #ffffff;
          display: none; }
        .individual-content ul li .li-right-box #nicknameInput:focus {
          outline: none; }
        .individual-content ul li .li-right-box .user-weight {
          color: #ffffff;
          margin-right: 0.46667rem; }

.tips-infor {
  width: 4.66667rem;
  height: 1.33333rem;
  text-align: center;
  color: #ffffff;
  font-size: 0.34667rem;
  line-height: 1.33333rem;
  border-radius: 0.13333rem;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 15;
  display: none; }

.retroaction-model, .user-name-model {
  display: none;
  width: 100%;
  height: 5.33333rem;
  background-color: #221d21;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10; }
  .retroaction-model .user-name-infor, .user-name-model .user-name-infor {
    position: relative; }
    .retroaction-model .user-name-infor .clear-button, .user-name-model .user-name-infor .clear-button {
      position: absolute;
      width: 0.42667rem;
      height: 0.42667rem;
      right: 0.4rem;
      top: 0.58667rem;
      z-index: 4; }
      .retroaction-model .user-name-infor .clear-button img, .user-name-model .user-name-infor .clear-button img {
        width: 0.42667rem;
        height: 0.42667rem; }

#mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 8;
  display: none; }

.retroaction-model textarea {
  width: 100%;
  height: 1.86667rem;
  margin-top: 0.26667rem;
  border: 0;
  text-indent: 0.13333rem;
  padding: 0.13333rem;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "SimHei", sans-serif; }

.retroaction-model textarea:focus {
  outline: none; }

.user-name-model input {
  width: 100%;
  height: 1.17333rem;
  margin-top: 0.26667rem;
  border: 0;
  text-indent: 0.13333rem; }

.user-name-model .btn-box, .retroaction-model .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.53333rem; }
  .user-name-model .btn-box .save-btn, .user-name-model .btn-box .cancel-btn, .retroaction-model .btn-box .save-btn, .retroaction-model .btn-box .cancel-btn {
    width: 4rem;
    height: 1.2rem;
    background-color: #ff9500;
    margin: 0 auto;
    border-radius: 0.13333rem;
    font-size: 0.53333rem;
    color: #ffffff;
    text-align: center;
    line-height: 1.2rem; }
