<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=devicewidth, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<title>消息中心</title>
  <link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css?v11.1.0">
  <link rel="stylesheet" type="text/css" href="../../component/component.css?v11.1.0">
	<link rel="stylesheet" type="text/css" href="./empty.css?v11.1.0">
	<script  type="text/javascript" src="../../assets/js/lib/flexible.js?v11.1.0" async></script>
</head>

<body>

    <div id="app" class="container">

      <div class="header">
        <div class="image">
          <img src="../../assets/images/message/noMassage.png">
        </div>
        <p class="noMeassege">暂时木有消息</p>
      </div>


      <div class="goTo">去首页逛逛</div>

       
      
    </div>
    <script type="text/javascript" src="../../assets/js/require.js?v11.1.0"></script>
    <script src="../../assets/js/config.js?v11.1.0"></script>
    <script src="./empty.js?v11.1.0"></script>

</body>
</html>