<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=devicewidth, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<title>食物估量小贴士</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css?v11.1.0">
    <link rel="stylesheet" type="text/css" href="../../component/component.css?v11.1.0">
	<link rel="stylesheet" type="text/css" href="./tips.css?v11.1.0">
    <script  type="text/javascript" src="../../assets/js/lib/flexible.js?v11.1.0" async></script>
</head>

<body>

     <div id="app" class="container" >
       
       
        <ul id="tips-ul">
            <li>
                <p>主食</p>
                <div class="tips-content">
                    <div class="left">
                        <img src="../../assets/images/tips/staple1.png">
                    </div>
                    <div class="right">
                        <img src="../../assets/images/tips/staple2.png">
                    </div>
                </div>
            </li>
            <li>
                <p>肉类</p>
                <div class="tips-content">
                    <div class="left">
                        <img src="../../assets/images/tips/meat1.png">
                    </div>
                    <div class="right">
                        <img src="../../assets/images/tips/meat2.png">
                    </div>
                </div>
            </li>
            <li>
                <p>蔬菜类</p>
                <div class="tips-content">
                    <div class="left">
                        <img src="../../assets/images/tips/vegetables1.png">
                    </div>
                    <div class="right">
                        <img src="../../assets/images/tips/vegetables2.png">
                    </div>
                </div>
            </li>
            <li>
                <p>水果类</p>
                <div class="tips-content">
                    <img src="../../assets/images/tips/fruit.png" class="fruit">
                </div>
            </li>
            <li>
                <p>坚果类</p>
                <div class="tips-content ">
                    <img src="../../assets/images/tips/nut.png" class="nut">
                </div>
            </li>
            <li>
                <p>豆制类</p>
                <div class="tips-content ">
                    <img src="../../assets/images/tips/beans.png" class="beans">
                </div>
            </li>
        </ul>

        <footer-bar :index='8'></footer-bar>
    </div>
            <script type="text/javascript" src="../../assets/js/require.js?v11.1.0"></script>
            <script src="../../assets/js/config.js?v11.1.0"></script>
            <script src="./tips.js?v11.1.0"></script>
</body>
</html>