html, body, .container {
  background-color: #f8f8f8;
  max-width: 960px;
  height: 100%;
  margin: 0 auto; }

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "SimHei", sans-serif;
  overflow-x: hidden;
  font-size: 14px !important; }

ul, li {
  list-style: none; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden; }

*, :after, :before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

input[type="tel"], input[type="text"], input[type="password"], textarea {
  -webkit-appearance: none;
  border-radius: 0; }

[v-cloak] {
  display: none; }

body {
  font-weight: 300; }

.ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal; }

.ellipsisLn2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  word-break: break-all; }

.ellipsisLn3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-wrap: break-word;
  word-break: break-all; }

.freeLine {
  word-wrap: break-word;
  word-break: break-all; }

.bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1.2rem;
  overflow: hidden;
  z-index: 10;
  background-color: #222; }
  .bar + .content {
    padding-bottom: 1.2rem; }

.content {
  min-height: 100%;
  overflow: hidden; }

.background--blue {
  background-color: #1d2232; }

.background--black {
  background-color: #19181e; }

.background--white {
  background-color: white; }

.background--grey {
  background-color: #f1f1f1; }

.fs24 {
  font-size: 0.32rem; }

.fs26 {
  font-size: 0.34667rem; }

.fs28 {
  font-size: 0.37333rem; }

.fs30 {
  font-size: 0.4rem; }

.fs36 {
  font-size: 0.48rem; }

.fs38 {
  font-size: 0.50667rem; }

.my {
  background-position-y: top;
  background-size: 100% auto;
  background-color: #1d2232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }
  .my .map {
    width: 100%;
    height: 80%; }
  .my .footer {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    background: #1F2231; }
    .my .footer .go {
      position: absolute;
      top: -0.76rem;
      width: 100%;
      text-align: right; }
      .my .footer .go-btn {
        position: relative;
        display: inline-block;
        width: 1.46667rem;
        height: 1.46667rem;
        background: #36D2C7;
        border-radius: 50%;
        margin-right: 0.8rem;
        -webkit-box-shadow: 1px 1px 3px #cccccc;
                box-shadow: 1px 1px 3px #cccccc;
        text-align: center;
        color: #ffffff; }
        .my .footer .go-btn .icon-skip {
          display: inline-block;
          padding-top: 0.13333rem;
          color: #ffffff; }
        .my .footer .go-btn span {
          position: absolute;
          left: 0.21333rem;
          bottom: 0.26667rem;
          font-size: 0.37333rem; }
    .my .footer .dot {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 0.4rem;
      margin-left: 0.4rem;
      margin-right: 0.4rem;
      border-bottom: 1px solid #686B72; }
      .my .footer .dot-img {
        width: 2.13333rem;
        height: 2.13333rem; }
      .my .footer .dot-address {
        width: 100%;
        padding-left: 0.4rem;
        height: 1.73333rem; }
        .my .footer .dot-address h3 {
          font-size: 0.56rem;
          color: #ffffff; }
        .my .footer .dot-address p {
          color: #686B72;
          font-size: 0.42667rem;
          padding-top: 0.13333rem; }
    .my .footer .equipment-status {
      padding: 0.4rem; }
      .my .footer .equipment-status span {
        font-size: 0.48rem;
        display: inline-block;
        border-right: 1px solid #686B72;
        padding-right: 0.53333rem;
        height: 0.8rem;
        line-height: 0.8rem;
        color: #686B72; }
      .my .footer .equipment-status a {
        font-size: 0.48rem;
        display: inline-block;
        margin-left: 0.4rem;
        padding-top: 0.13333rem;
        padding-bottom: 0.13333rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        border-radius: 6px; }
      .my .footer .equipment-status .on-line {
        border: 1px solid #36D2C7;
        color: #36D2C7; }
      .my .footer .equipment-status .off-line {
        font-size: 0.48rem;
        color: #686B72;
        border: 1px solid #686B72;
        padding-top: 0.13333rem;
        float: right; }
