<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=devicewidth, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<title>早餐</title>
	<link rel="stylesheet" type="text/css" href="../../../assets/css/normalize.css?v=time">
	<link rel="stylesheet" type="text/css" href="../breakfast/breakfast.css?v=time">
	<script  type="text/javascript" src="../../../assets/js/lib/flexible.js"></script>
	<script>  
		var _hmt = _hmt || [];
		_hmt.push(['_setAccount', '209e8abccbe388d607aab53c296222c6']);
    </script>
    </head>

    <body>

       <div id="app" class="container">
           <div class="content">
             <ul class="recomm">
                 <li>
                    <a href="">
                        <div class="clumLeft">
                             <img src="../../../assets/images/recommended/reducedfat-break.png">
                        </div>
                        <div class="clumR">
                           <p> 喝多点热水喝多点热水喝多点热水 喝多点热水喝多点热水 </p>
                           <span class="time">
                             2017-12-1
                           </span>
                        </div>    
                    </a>
                 </li>
                 <li>
                        <a href="">
                            <div class="clumLeft">
                                 <img src="../../../assets/images/recommended/reducedfat-break.png">
                            </div>
                            <div class="clumR">
                               <p> 喝多点热水喝多点热水喝多点热水 喝多点热水喝多点热水 </p>
                               <span class="time">
                                 2017-12-1
                               </span>
                            </div>    
                        </a>
                     </li>
                     <li>
                            <a href="">
                                <div class="clumLeft">
                                     <img src="../../../assets/images/recommended/reducedfat-break.png">
                                </div>
                                <div class="clumR">
                                   <p> 喝多点热水喝多点热水喝多点热水 喝多点热水喝多点热水 </p>
                                   <span class="time">
                                     2017-12-1
                                   </span>
                                </div>    
                            </a>
                         </li>
             </ul>
           </div>
       </div>

    </body>
    </html>
    