.freeLine {
  word-wrap: break-word;
  word-break: break-all; }

.content {
  width: 9.46667rem;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden; }

.ios-select-widget-box header.iosselect-header {
  background: #f9f9fe;
  border: none; }

.ios-select-widget-box header.iosselect-header a {
  color: #8e8e93; }

.ios-select-widget-box.olay > div {
  background: #fff; }

.ios-select-widget-box ul li.at {
  color: #000000; }

.hidden {
  visibility: hidden; }

.noData {
  font-size: 0.4rem;
  color: #000000;
  margin-top: 0.66667rem;
  text-align: center; }

.artical-box {
  padding: 0.4rem 0.26667rem;
  margin-bottom: 1.70667rem; }
  .artical-box .title {
    font-size: 0.56rem;
    color: #333;
    text-align: center;
    height: 0.8rem;
    line-height: 0.8rem;
    margin-top: 0.13333rem; }
  .artical-box .date {
    color: #999;
    font-size: 0.34667rem;
    line-height: 1.06667rem;
    border-bottom: 1px solid #c7c7cc;
    text-align: right; }
  .artical-box .content {
    color: #666;
    font-size: 0.4rem;
    line-height: 0.64rem;
    padding: 0.32rem 0;
    white-space: pre-line; }
